.main-container {
  /* border: 2px solid red;
  margin-top: 100px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 100%;
}

.input-main-container {
  /* display: flex; */
}

.input-container {
  width: 200px;
  height: 30px;
  margin-right: 20px;
  text-align: center;
}

/* 
.todo-done {
  text-decoration: line-through;
}

.todo-not-done {
  text-decoration: unset;
} */
